@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #4998D1;
    margin-bottom: 40px;
}

header h1{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    padding-top: 30px;
}

header .menu{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

header .menu nav{
    display: flex;
}

header .menu nav input{
    background-color: transparent;
    border: transparent;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease-in-out color;
}

header .menu nav input:hover{
    color: #e5e5e5;
    cursor: pointer;
}

header .logout i{
    color: #fff;
    font-size: 1.6rem;
    padding: 5px 10px;
    transition: 0.2s ease-in-out color;
}

header .logout i:hover{
    color: #e5e5e5;
    cursor: pointer;
}


@media (max-width: 768px){
    header .menu{
        overflow-x: scroll;
        padding: 10px 0px;
    }
}

select{
    width: 300px;
    height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 0px 10px;
    outline: transparent;
    color: #555;
    cursor: pointer;

}